<nb-card>
  <nb-card-header>
  Liste des projets   
 </nb-card-header>
  
  <nb-card-body *nbIsGranted="['view3', 'admin']"> 
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Ref</th>
            <th scope="col">Ajouté par </th>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Etat</th>
            <th scope="col">Chef Projet</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        
          <tr *ngFor="let p of projet "  >
             
            <td>{{p.reference }}</td>
            <td>{{p.user.email }}</td>
           <td>{{p.titre}}</td>
           <td>{{p.description}}</td>
           <td>
              <p  *ngIf="p.etat == '0' "> EDB </p>

              <nb-progress-bar [value]="10" status="primary" [displayValue]="true"  *ngIf="p.etat == '1' "></nb-progress-bar>
              <nb-progress-bar [value]="25" status="danger" [displayValue]="true"   *ngIf="p.etat == '2' "></nb-progress-bar>
         
           </td>
          
            <td>    <p  *ngIf="p.chefProjet == '' ">  
                 <button class="btn btn-demo btn-success btn-hero"  (click)="win(p.id)"> Ajouter </button>
            </p>
            <p  *ngIf="p.chefProjet != '' ">  
                {{p.chefProjet }}
           </p>
          </td>
       
           <td > 
              <button class="btn btn-demo btn-success btn-hero"  (click)="getProjet(p.id)"> Consulter </button>
          </td>
         
        
     </tr> 
        </tbody>
      </table>
   
    </nb-card-body>
    <nb-card-body *nbIsGranted="['view', 'client']"> 
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Etat</th>
                <th scope="col">Chef Projet</th>
                <th scope="col"></th>
             
                <!-- <th scope="col">Chaier des charges</th>
                <th scope="col">Chaier des charges</th> -->

              </tr>
            </thead>
            <tbody>
            
              <tr *ngFor="let p of projetClient">
                <td>{{p.id }}</td>
               <td>{{p.titre}}</td>
               <td>{{p.description}}</td>
               <td>{{p.etat}}</td>
               <!-- <td > 
                  <button class="btn btn-demo btn-success btn-hero" > approuver </button>
              </td>
              <td > 
                  <button class="btn btn-hero-danger btn-demo" > refuser </button>
              </td> -->
                  
            <td>    <p  *ngIf="p.chefProjet == '' ">  pas encore
           </p>
           <p  *ngIf="p.chefProjet != '' ">  
               {{p.chefProjet }}
          </p>
         </td>
              <td > 
                  <button class="btn btn-demo btn-success btn-hero"  (click)="getProjet(p.id)"> voir </button>
                </td>
         </tr> 
            </tbody>
          </table>
      </nb-card-body>


    
  </nb-card>
  