<nb-card>
  <nb-card-header>
Demende d'ajout projet  </nb-card-header>

  <nb-card-body>
      <div class ="row">
          <div class="form-group col-sm-4">
              <label>Titre du projet</label>
              <input type="text" class="form-control" [(ngModel)]="projet1.titre" placeholder="First Name">
            </div>
        </div>
        <div class ="row">
            <div class="form-group col-sm-8">
                <label>Déscription</label>
                <textarea class="form-control"  [(ngModel)]="projet1.description" rows ="3"> </textarea>
              </div>
          </div>
        <div class ="row">
            <div class="form-group col-sm-4">
                <label>Date début </label>
                <input type="date"  [(ngModel)]="projet1.datedeb" class="form-control">
              </div>
              <div class="form-group col-sm-4">
                  <label>Date Fin</label>
                  <input type="date"  [(ngModel)]="projet1.datefin" class="form-control">
                </div>
          </div>
          <div class ="row">
              <div class="form-group col-sm-4">
                  <label>Chaier des Charges </label>
                    <input type="file" class="form-control-file"   [(ngModel)]="projet1.edb" id="exampleFormControlFile1">
                </div>
            </div>
            <div class ="row">

            <div class="form-group col-sm-4">
            
                    <!-- <label for="exampleFormControlFile1">Example file input</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1"> -->
              
            </div>

            <div class="form-group col-sm-4">
                <button type="submit"   (click)="newProjet()"class="btn btn-primary">Envoyer</button>
              </div>
            </div>
      


  </nb-card-body>

  <nb-card-body>
    <ng2-smart-table 
     [settings]="settings"
     [source]="projet"
     (createConfirm)="oncreateConfirm($event)"
     (deleteConfirm)="onDeleteConfirm($event)"
     (editConfirm)="onupdateConfirm($event)" >
    </ng2-smart-table>
    
  </nb-card-body>
</nb-card>
