<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Mes informations</nb-card-header>
        <nb-card-body>
          <!-- <form  class="form-inline"> -->
          <div class="row">
            <div class="form-group col-sm-4">
              <label>Nom</label>
              <input [(ngModel)]="profil.nom" type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group col-sm-4">
              <label>Prenom</label>
              <input type="text" [(ngModel)]="profil.prenom" class="form-control full-width" placeholder="prenom ">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label>Email de secoure : </label>
              <input type="text" class="form-control" [(ngModel)]="profil.emailSec" placeholder="Email de secoure">
            </div>
            <!-- <div class=" col-sm-4">
                <label> Vous étes : </label> 
                    <div class="demo-radio ">
                      <nb-radio-group [(value)]="radioGroupValue">
                        <nb-radio [value]="'personel'">
                          Pérsone
                        </nb-radio>
                        <nb-radio [value]="'societe'">
                          Entreprise
                        </nb-radio>
          
                      </nb-radio-group>
                  </div>
                </div> -->
          </div>
          <div class="row">
  
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label>Adress</label>
              <input type="text" [(ngModel)]="profil.adress" class="form-control full-width" placeholder="adress ">
            </div>
            <div class="form-group col-sm-4">
              <label>Code Postal: </label>
              <input type="text" [(ngModel)]="profil.codepostale" class="form-control full-width"
                placeholder="code postal ">
            </div>
            <div class="form-group col-sm-4">
              <label>Ville : </label>
              <input type="text" [(ngModel)]="profil.ville" class="form-control full-width" placeholder="ville ">
            </div>
            <div class="form-group col-sm-4">
              <label>Pays : </label>
              <input type="text" [(ngModel)]="profil.pays" class="form-control full-width" placeholder="pays ">
            </div>
            <div class="form-group col-sm-4">
              <label>Télephone : </label>
              <input type="text" [(ngModel)]="profil.tel" class="form-control " placeholder="télephone ">
            </div>
            <div class="form-group col-sm-4">
            </div>
            <div class="form-group col-sm-8">
            </div>
            <div class="form-group col-sm-4">
              <button type="submit" (click)="newProfil()" class="btn btn-primary">Enregistrer</button>
            </div>
          </div>
          <div class=" col-sm-8"></div>
          <!-- </form> -->
        </nb-card-body>
      </nb-card>
    </div>
  </div>