<div class="row">
  <nb-card>
    <nb-card-body> body Dev
      <p> fdgfdg</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><button class="btn btn-hero-danger btn-demo"> aaa </button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
    <nb-card-body *nbIsGranted="['view3','admin']"> body
      Admin
     </nb-card-body>
     <nb-card-body *nbIsGranted="['view1','chef']"> Chef
      Alooooooooooooo
     </nb-card-body>
     <nb-card-body *nbIsGranted="['view2','dev']"> Devvvvvvv
        Alooooooooooooo
       </nb-card-body>
     
  </nb-card>


</div>
